
//- Header main
//- ============
//- The main header content

//- Includes

mixin header-main()
    
    .header-main

        header(role="banner")

            .inner
                h3 Alex Plummer: Demo of work